img{max-width:100%}

body{font-family:"Andika", "Corbel", sans-serif;}

* {box-sizing: border-box;}

sub-title{display:block;text-align:center}

/*
* Sizes
*/
body >h1{font-size:30pt;text-align:center}
section.chapter>h1, sub-title {font-size:20.74pt;margin-bottom:40pt;margin-top:20pt}
section.section>h1 {font-size:14.4pt;margin-top:3.5ex;margin-bottom:2.3ex}
section.subsection>h1 {font-size:12pt;margin-top:3.25ex;margin-bottom:1.5ex}
section.subsubsection>h1{font-size:11pt;margin-top:3.25ex;margin-bottom:1.5ex}
section.paragraph > h1{font-size:11pt;margin-top:0pt;margin-bottom:0pt; display:inline}

p{font-size:11pt;margin-top:0pt;margin-bottom:0pt;text-indent:18pt}

p,li,code,td,div{font-size:11pt;margin-top:0pt;margin-bottom:0pt}

h1+p,h2+p,h3+p,h4+p,h5+p,p:first-of-type,li{text-indent:0pt}

/*
* Counters
*/
section.chapter{counter-increment: chapter}
section.chapter>h1:before
{
  content: counter(chapter) ".\0000a0\0000a0";
}

section.section{counter-increment: section}
section.section>h1:before
{
  content: counter(chapter) "." counter(section) ".\0000a0\0000a0";
}

section.subsection{counter-increment: subsection}
section.subsection>h1:before
{
  content: counter(chapter) "." counter(section) "." counter(subsection) ".\0000a0\0000a0";
}

section.subsubsection{counter-increment: subsubsection}
section.subsubsection>h1:before
{
  content: counter(chapter) "." counter(section) "." counter(subsection) "." counter(subsubsection) ".\0000a0\0000a0";
}

section.paragraph{counter-increment: paragraph}